form(action='check_in', method='POST')
  label(for="roastery") Roastery
  input(name="roastery")
  label(for="coffee") Coffee Name
  input(name="coffee")
  label(for="brew_method") Brew Method
  input(name="brew_method")
  label(for="location") Location
  input(name="location")
  button(type="submit", value="Drink up!")
